<div class="images-body-d" ms-attr="{id:@thisIframeBoxID}">
    <ul>
        <li ms-for="el in @upfileObj" class="images-posi" ms-on-mouseover="@onmouseover" ms-on-mouseleave="@onmouseleave">
            <span ms-visible="el.master&&@num>1" class="zt"></span>
            <img ms-attr="{src:@upfilePath+el.src}" alt=""/>
            <p class="images-opa" ms-visible="@editView">
                <span ms-visible="@num>1" ms-click="@setmaster(el)">设为</span>
                <span ms-click="@editImg(el)">更改</span>
                <span ms-click="@delImg(el)">删除</span>
            </p>
        </li>
        <li ms-visible="@upfileObj.length<@num" class="images-active" ms-click="@upfileAdd">
            <span class="move-sz"></span>
            <span class="move-show">添加图片</span>
            <span class="move-action">（还可添加，最多<span ms-text="@num-@upfileObj.length"></span>张）</span>
            </li>
    </ul>
    <p class="images-guize" ms-if="@TipCon!=''" ms-html="@TipCon" style="margin-left: 0;"></p>
    <div style="display:none;width:0;height:0;border:0;margin:0;padding:0;position:absolute;"></div>
</div>
