<div class="ava_multiselect">
<!--    <select name="" class="hide">
    <option label="HTC" value="HTC">HTC</option>
    </select>-->
    <label class="selector-input">
        <ul class="selector-values">
            <li  ms-for="el in @list_data|filterBy(@selectedFilter)">
                <div class="btn-group">
                    <span type="button" class="btn btn-info" ms-text="el.val"></span>
                    <span type="button" class="btn btn-info">
                        <span  class="glyphicon glyphicon-remove" ms-click="@closeItem(el)"></span>
                    </span>
                </div>
            </li>
         </ul>
        <input placeholder="" autocomplete="off"  ms-on-focus="@DrapdownFun" ms-on-keyup="@keyupDel">
        <span class="glyphicon glyphicon-chevron-down select_icon"></span>
    </label>
    <ul class="dropdown-menu" ms-visible="@isShowDown">
        <li class="searchList">
            <div class="has-feedback">
                <input type="text" class="form-control"  placeholder="请输入搜索字段"  ms-duplex="@tagInput" data-duplex-changed="@tagInputCall">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </li>
        <li class="divider"></li>
        <li ms-for="el in @list_data|filterBy(@showFilter)">
            <a href="javascript:;" ms-click="@selectItem(el)">
                <span ms-visible="el.selected" class="glyphicon glyphicon-ok"></span>&nbsp;
                <span ms-text="el.val"></span>
            </a>
        </li>
    </ul>
</div>